/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


/* DEBUG */

.debug{
    min-height: 120px;
    width: calc(100% / 6);
    background-color: lightblue;
}

.debug_detail{
    color: whitesmoke;
    background-color: lightgray;
}

.debug_footer{
    color: antiquewhite;
}

/* CONTAINER */

.conteiner{
    height: calc(100vh - 100px);
    padding: 0 25px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user{
    margin: 5px 10px;
    padding: 30px;
    position: relative;
}

.details_status{
    padding: 0 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* FOOTER */

.option_room{
    min-height: 100px;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    bottom: 0;
    z-index: 1;

    background-color: darkgrey;
}