/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    overflow: hidden;
}

/* HEADER */

.header_option{
    line-height: 60px;
    text-align: right;
    max-height: min-content;

    background-color: black;
}

.header_element{
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color:  rgb(104, 103, 103);
}


/* MAIN */

.container{
    height: calc(100vh - 60px - 70px);
    margin: 0 auto;
    padding: 10px 20px;
    overflow: auto;

    background-color: black;

    /* debug */
    /* border: 1px dashed white; */
}

.container #room{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 20px;
}

.user{
    width: min-content;
}

.user_details{
    padding: 5px 2px;
    margin-bottom: 4px;
    width: max-content;
    color: white;
    background-color: rgba(197, 197, 197, 0.5)
}

.container .user{
    position: relative;
}

.user .user_details{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* FOOTER */

.footer_option{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(36, 35, 35);
}

.option_one{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
}

.option_one span{
    display: block;
}

.option_one i{
    align-self: center;
    margin-left: 8px;
}

.option_one .selection{
    margin: 0 7px;
    text-align: center;
}

.selection i{
    font-size: xx-large;
}

#share{
    color: greenyellow;
}

#end_meet{
    color: red;
}